.card {
  max-width: 100%;
  background-color: $white;
  border-radius: 5px;
  box-shadow: $main-shadow;
  transition: box-shadow 0.3s ease;

  &.is-hoverable:hover {
    box-shadow: $blue-shadow;
  }
}
