.label {
  font-size: 1.6rem;

  transition: color 0.3s ease-in;

  &.is-hovered-focused {
    color: $main-orange;
  }

  &.has-error {
    color: $main-red;
  }
}

.field-wrapper {
  position: relative;

  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $black;
  }

  .border-hover-focus-indicator {
    z-index: 1;
    background-color: $main-orange;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &.is-hovered-focused {
      transform: scaleX(1);
    }

    &.has-error {
      background-color: $main-red;
      transform: scaleX(1);
    }
  }
}
