.title-wrapper {
  margin: 0.3rem 0 2rem 1rem;
}

.links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60rem;
  max-width: 92%;
  margin: 0 auto 1rem;
  transform: scaleX(1);
}

.toggle-view-leave-active,
.toggle-view-enter-active {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.toggle-view-leave-to,
.toggle-view-enter {
  opacity: 0;
  transform: scaleX(0);
}
