.app-sidebar {
  position: fixed;
  left: -30rem;
  top: 0;
  z-index: 1;
  padding: 0.7rem 1.5rem 0;
  height: 100vh;
  width: 30rem;
  background-color: $white;
  box-shadow: $main-shadow;
  transition: box-shadow 0.3s ease-in-out, left 0.3s ease-in-out;

  @include at-medium() {
    left: 0;
    top: 0;
  }

  &.is-visible {
    left: 0;
  }

  &:hover {
    box-shadow: $blue-shadow;
  }
}

.avatar-wrapper {
  @include flex-center-h();

  margin-top: 1rem;
  margin-bottom: 6rem;
}

.sign-out-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  button {
    font-weight: 600;
    color: $light-gray;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $red-danger;
    }
  }
}

.sidebar-nav {
  @include flex-center();
  flex-direction: column;
  padding-top: 1rem;

  .nav-item {
    margin-bottom: 2rem;
  }
}

.hamburger {
  @include reset-button();
  @include at-medium() {
    display: none;
  }

  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  overflow-x: hidden;
  width: 5rem;
  height: 3rem;

  .cross {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    img {
      width: 5rem;
      height: 3rem;
    }

    &.is-hamburger {
      opacity: 0;
      transform: scale(0.3);
    }
  }

  .line {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: $black;
    opacity: 0;
    border-radius: 2px;
    transition: opacity 0.3s ease-in-out, left 0.3s ease-in-out;

    &--top {
      top: 0;
      left: -100%;
    }

    &--mid {
      top: 50%;
      width: 80%;
      transform: translateY(-50%);
    }

    &--bot {
      bottom: 0;
      left: 100%;
      width: 60%;
    }

    &.is-hamburger {
      left: 0;
      opacity: 1;
    }
  }
}
