.title {
  color: $main-blue;

  &.is-orange {
    color: $main-orange;
  }

  &.is-small {
    font-size: 1.3rem;
  }

  &.is-uppercased {
    text-transform: uppercase;
  }

  &.is-centered {
    text-align: center;
  }
}
