$white: #fff;
$black: #000;
$dark-gray: #333;
$medium-gray: #777;
$light-gray: #aaa;
$main-green: #9df285;
$green-success: #2af90e;
$dark-green: #009300;
$main-blue: #5457ff;
$main-orange: #f99529;
$main-red: #dd3a3a;
$main-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
$blue-shadow: 2px 2px 15px rgba(84, 87, 255, 0.5);
$grey-shadow: 2px 2px 15px rgba(150, 150, 150, 0.8);
$dark-grey-shadow: 2px 2px 15px rgba(50, 50, 50, 0.8);
