.button {
  display: block;
  width: 25rem;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.6rem;
  border: 0;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &.has-blue-theme {
    background-color: $main-blue;
    color: $white;
    box-shadow: $grey-shadow;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: $dark-grey-shadow;
    }
  }
}
