.form-wrapper {
  position: relative;
  padding: 8rem 0 10rem;

  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
  }

  .previous-wrapper {
    position: absolute;
    top: 0;
    left: -8rem;

    @include at-medium {
      left: -15rem;
    }
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.slide-leave-active {
  display: none;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
