.input-wrapper {
  position: relative;

  .label {
    font-size: 1.6rem;

    transition: color 0.3s ease-in;

    &.is-focused {
      color: $main-orange;
    }
  }

  .input {
    display: block;
    padding: 0.32rem 0;
    width: 100%;
    font-size: 2rem;
    outline: none;
    border: 0;
    color: $dark-gray;
    transition: color 0.3s ease-in;

    &.is-centered {
      text-align: center;
    }

    &::placeholder {
      font-size: 1.4rem;
      font-weight: 300;
      color: $light-gray;
    }

    &:hover,
    &:focus {
      color: $black;
    }
  }

  .input-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $black;
  }

  .input-border-focus-indicator {
    background-color: $main-orange;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;

    &.is-focused {
      transform: scaleX(1);
    }
  }
}
