.dashboard-wrapper {
  margin-left: 30rem;
}

.items-wrapper {
  margin-top: 1rem;
  padding: 0 2rem;

  @include at-medium() {
    padding: 0 6rem;
  }
}

.items-row {
  @include flex-center-h();

  flex-direction: column;

  @include at-medium() {
    flex-direction: row;
  }
}

.irems-col {
  @include flex-center-h();

  flex-basis: 95%;
  margin-bottom: 3rem;

  @include at-medium() {
    flex-basis: 50%;
    margin-bottom: 0;
  }
}
