.item-wrapper {
  width: 45rem;

  img {
    display: block;
    width: 7rem;
    height: 7rem;
    margin-right: 1rem;
    border-radius: 50%;
  }
}

.header-group {
  @include flex-center();

  padding: 5rem 0;
}

.item-inner-wrapper {
  padding: 0 3rem;
  min-height: 43rem;
}

.items-description {
  margin-bottom: 3rem;
}

.items-counter {
  margin: 1rem 0;
}

.link-wrapper {
  @include flex-center-h();

  margin-top: 3rem;
  margin-bottom: 4rem;
}
