.text {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
  color: $medium-gray;

  &.has-centered-text {
    text-align: center;
  }

  &.is-medium {
    font-size: 1.8rem;
  }

  &.is-bold {
    font-weight: 400;
  }

  &.is-black {
    color: $black;
  }

  &.is-green {
    color: $dark-green;
  }
}
