.family-header {
  @include flex-center-h();

  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 2rem;

  @include at-medium() {
    flex-direction: row;
  }
}

.family-header-text {
  margin-right: 2rem;
  font-size: 1.5rem;
  text-align: right;
  color: $dark-green;

  @include at-medium() {
    text-align: left;
  }

  .label {
    margin-right: 5px;
  }

  .value {
    font-weight: 700;
  }
}
