@mixin dark-theme-hover {
  &:hover,
  &:focus {
    color: $light-gray;
  }

  &.is-active {
    color: $dark-green;
  }
}

.link {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: $dark-green;
  transition: color 0.3s ease-in-out;
  $root: &;

  &.is-x-big {
    font-size: 3rem;
  }

  &.is-crossed {
    text-decoration: line-through;
  }

  &.is-black {
    color: $black;

    &:visited {
      color: $black;
    }

    &.is-active {
      color: $dark-green;
    }
  }

  &.is-gray {
    color: $medium-gray;

    &:visited {
      color: $medium-gray;
    }

    @include dark-theme-hover();
  }

  &::after {
    @include focus-hover-separator-base($dark-green);
  }

  &:visited {
    color: $dark-green;
  }

  &:hover,
  &:focus {
    color: $medium-gray;

    &::after {
      background-color: $medium-gray;
      transform: scaleX(1);
    }
  }

  &.is-active {
    color: $dark-gray;

    &::after {
      background-color: $medium-gray;
    }
  }
}
