.wrapper {
  margin-left: 8rem;
  max-width: 80%;
}

.button-wrapper {
  margin: 2rem 0;
}

.avatar-wrapper {
  margin: 2rem 0;
}

.form-wrapper {
  overflow-y: scroll;
  padding: 0 8rem 2rem;
  max-height: 95vh;
}

.toggle-form-button-wrapper {
  position: absolute;
  left: 0;
  top: 0;
}

.row {
  margin-bottom: 2rem;
}
