.header {
  @include flex-center-v();

  font-weight: 600;
  font-size: 2rem;
  color: $dark-green;
  border-bottom: 2px solid $dark-green;
}

.item {
  @include flex-center-v();
  font-size: 1.6rem;
  color: $dark-gray;

  &:not(:last-of-type) {
    border-bottom: 1px solid $dark-green;
  }
}

.col-title {
  display: flex;
  justify-content: space-between;
  flex-basis: 60%;
  padding: 1rem 0;
}

.title-text {
  @include flex-center-v();

  a {
    font-size: 2rem;
  }
}

.col {
  flex-basis: 20%;
  @include flex-center-h();
  padding: 1rem 0;
}
