.avatar {
  display: inline-block;

  .photo {
    @include flex-center-h();

    margin-bottom: 5px;
  }

  .text {
    text-align: center;
    font-size: 1.4rem;
    color: $medium-gray;

    &.is-small {
      font-size: 1.1rem;
      color: $light-gray;
    }

    &.is-big {
      font-size: 2rem;
    }

    &.is-black {
      color: $black;
    }
  }

  &.is-flex {
    display: inline-flex;
    align-items: center;

    .photo {
      margin-right: 1rem;
    }

    .text {
      transform: translateY(-3px);
    }
  }
}
