.content-wrapper {
  @include flex-center();

  height: 100vh;
  max-width: 95%;
  margin: 0 auto;
}

.family-creator-wrapper {
  width: 60rem;
  max-width: 100%;
  height: 50rem;
  padding: 3rem 5rem;
}

.family-creator-row {
  margin: 0.3rem 0 4rem 0;
}

.button-wrapper {
  @include flex-center-h();

  margin-top: 8rem;
}
