.title {
  font-size: 3.2rem;
  color: $main-blue;

  &.is-orange {
    color: $main-orange;
  }

  &.is-black {
    color: $black;
  }

  &.is-small {
    font-size: 2.1rem;
  }

  &.is-big {
    font-size: 4rem;
  }

  &.is-crossed {
    text-decoration: line-through;
  }

  &.is-uppercased {
    text-transform: uppercase;
  }

  &.has-centered-text {
    text-align: center;
  }
}
